<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="TokenPassphrase" value="1nt3csusOCS"/>
    <add key="TokenName" value="Operator"/>-->
    <add key="TokenPassphrase" value="1nt3csusOCS"/>
    <add key="TokenName" value="Operator"/>
    <add key="CypherType" value="ECB" />
    <add key="PathDll" value="C:\Codigo\intecsus-intecsuskms\intecsus-intecsuskms\DLL"/>
    <!--Nombre Dll's cripto-->
    <add key="DllKMS" value="IntecsusKMSNShield.dll"/>
    <add key="DllKMSCripto" value="NShieldCryptoki.dll"/>
  </appSettings>
</configuration>